<body id="favoriteabout">

<h1 id="abouttitle">About</h1>
<hr/>
<p class="about">InstaType is your typography inspiration application. Simply search for a idea that interests you, and viola! Instant typography images based on your search query are displayed. Feel free to make an account to save your favorite images, or to peruse through the images with no account required. For instant typography inspiration look no further that instaType!</p>
<h2>Let's be social</h2>
<hr/>
<p class="about">InstaType was proudly built by Alexa Heitzenrader as a part of General Assembly's WDI program. Source code can be found here.</p>
<a target="_blank" href="https://github.com/aheitzen/project-two"><i class="fa fa-github"></i></a><a target="_blank" href="https://www.linkedin.com/in/alexa-heitzenrader-09a536114?trk=nav_responsive_tab_profile_pic"><i class="fa fa-linkedin"></i></a>
