<h1>THIS IS WHERE THE USERS FAVORITES WILL BE STORED</h1>

<% user.typographies.forEach(function(typography){ %>
	<img src="<%= typography.image %>" class="img-thumbnail">
	<button href="/favorite/<%= user.id %>/<%=typography.id%>" class='delete-pin'>delete</button>
<% }) %>

<script>
$(function(){
	$('.delete-pin').on('click', function(e){
	    e.preventDefault();
	    console.log('hitting this')
	    var myUrl = $(this).attr('href');
	    $.ajax({
	        method:'PUT',
	        url:myUrl
	    }).done(function(){
	    	console.log('hi')
	        window.location.replace('');
	    });
	});
});
</script>





