<h1>This is the home page</h1>

<form method="GET" action='/type'>
<label for="">Search</label>
    <input type="text" class="form-control" id="" placeholder="ex. Type" name="q">
   <button type='submit'>Submit</button>
	




</form>