<body id="index">
<p><span class="glyphicon glyphicon-camera"></span></p>
<h1 class="rotate" id="insta">Insta</h1>
<h1 id="secondtype">TYPE</h1>
<form method="GET" action='/type'>
	<label for="">Typography inspiration</label>
    <input type="text" class="form-control" id="" placeholder="ex. coffee" name="q">
   <button type='submit'>Submit</button>
</form>
</body>


