<!DOCTYPE html>
<html>
<head>
	<link href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAaWlpAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAARAAAAAAAAAREQAAAAAAAQEQEAAAAAAQEAEBAAAAAQAQAQAQAAAQAQAAEAEAARERERERERAAEAEAABABAAABABABABAAAAARERERAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD//wAA//8AAP//AAD+fwAA/D8AAPpfAAD1rwAA7bcAANvbAACAAQAA29sAAO23AADwDwAA//8AAP//AAD//wAA" rel="icon" type="image/x-icon" />
	<title></title>
</head>
<body>
	<%- body %>

</body>
</html>