<body id="showpagebody">


<h1 id="showpagetitle">Inspire</h1>


<% data.forEach(function(pin) { %>
	<img src="<%= pin.image.original.url %>" class="img-rounded">

	<form id="showpageform" action='/favorite' method="POST">
	<input type="hidden" value="<%= pin.image.original.url %>" name="url">
	<button id="showpagebutton" type='submit'>Submit</button>
		

	</form>
	

<%	}); %>



</body>