<body id="showpagebody">
<h1 id="showpagetitle">Results</h1>
<hr/>
<% data.forEach(function(pin) { %>
<form id="showpageform" action='/favorite' method="POST">
	<input type="hidden" value="<%= pin.image.original.url %>" name="url">
	<img src="<%= pin.image.original.url %>" class="img-thumbnail">
	<button id="showpagebutton" type='submit'>Save</button>
</form>
<%	}); %>
</body>