<form method="POST" action="/signup">

	<input type="text" id='username' name='username' placeholder='your name here'>
	<input type='password' id='password1' name="password1" placeholder='your password here'>
	<input type='password' id='pasdword2' name='password2' placeholder='retype your password'>
	<input type='submit' value='sign up'>
	


</form>

